
@{
    ViewBag.Title = "EditUser";
}

<h2>Edit User</h2>

<form>
    <input type="hidden" name="userid" value="@Model.user.userid" />
    <div>
        <label>Username</label><input type="text" name="username" value="@Model.user.username"/>
    </div>
    <div>
        <label>Roles</label><p>@String.Join(" | ",Model.user.roles)</p>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" >Save changes</button>
    </div>
</form>

