
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@{
    var users = Model.users;
    var roles = Model.roles;
    
}
<table class="table table-bordered table-bordered">
    <thead><tr><th>Username</th><th>Roles</th></tr></thead>
    <tbody>
        @foreach (var user in users) {
            int userid = user.userid;
            <tr><td>@Html.ActionLink((string)user.username, "EditUser", new { userid=userid},null)</td><td>@String.Join(" ",user.roles)</td></tr>
        }
    </tbody>
</table>

