

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <form class="form-login" method="get"  action="~/home/login">
                    <h4>Please Sign in</h4>
                    <input type="text" id="username" name="username" class="form-control input-sm chat-input" placeholder="username" required/>
                    </br>
                    <input type="password" id="password" name="password" class="form-control input-sm chat-input" placeholder="password" required />
                    <input type="hidden" name="returnUrl" value="@Request.QueryString["ReturnUrl"]"/>
                    </br>
                    @if (@ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                    }
                    <div class="wrapper">
                        <span class="group-btn">
                            <button class="btn btn-primary btn-md" type="submit"><i class="fa fa-sign-in"></i> Sign In</button>
                        </span>
                    </div>
                </form>

            </div>
        </div>
    </div>
   
</div>


